<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorldSkillsRussia.Properties.Settings.dbConnectionString"
            connectionString="Data Source=GLEB\SQLEXPRESS;Initial Catalog=&quot;AADAA90047EAA3CA96304A3CE8A6A7E7_NS\PROJECT CALL2PRESIDENT\CALL2PRESIDENT DEFECTED DB\CALL2PRESIDENT\APP_DATA\CALL2PRESIDENT.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>